 
.nav {
    
    display: flex;
    justify-content: space-around;
    height: 75px;
    border-bottom: 2pz dashed @navigation-border;
   
    .nav-all {
        
        
        height: 100%;
        margin: 5px;
        
        
    }
    



   ul {
       
      display: flex;
      justify-content: space-between;
       
       
   }


   li {
    
       margin: 0 20px;
       font-size: 1.3em;
   }

   a {
       text-decoration: none;
       color: black;
   }
}





